@import "svariables.scss";
.srgdev-ncfp-wrap{
  text-align: center;
  width: 100%;
}
.srgdev-appt-info-cont,
.srgdev-ncfp-form{
  display: inline-block;
  margin: 2em 1em 1em;
  padding: 1.5em;
  border: 1px solid $color-border;
  border: 1px solid var(--color-border);
  text-align: left;
  vertical-align: top;
}

.srgdev-ncfp-form-org{
  margin: 0;
  line-height: 1.2;
}
.srgdev-ncfp-form-addr{
  color: $color-text-lighter;
  color: var(--color-text-lighter);

  margin-bottom: .75em;
  line-height: 1.25;
}
.srgdev-ncfp-form-header{
  font-weight: bold;
  padding: 0 0 .35em;
  border-bottom: 1px solid $color-border;
  border-bottom: 1px solid var(--color-border-dark);
  margin-top: 0;
}
.srgdev-ncfp-form-main-cont{
  width: 18em;
  margin: 0 auto;
}
.srgdev-ncfp-chb-cont,
.srgdev-ncfp-form-label{
  display: block;
  margin: 1em 0 0;
}
.srgdev-ncfp-form-input{
  display: block;
  width: 100%;
  margin: 0 !important;
}
.srgdev-ncfp-chb-cont{
  position: relative;
}
// Override NC styles so the browsers built-in error message can displayed
#appt_gdpr_id{
  display: block;
  left: .5em;
  top: 50%;
  margin: -.5em 0 0 0;
  padding: 0;
  height: 1em;
  min-height: 1em;
  border: none;
  z-index: -1;
  opacity: 0;
  width: 1em;
}
.srgdev-ncfp-chb-cont a{
  color: $color-primary;
  color: var(--color-primary);
}
.srgdev-ncfp-chb-cont a:hover{
  text-decoration: underline;
}
.checkbox[err]+label:before{
  border-color: $color-error !important;
  border-color: var(--color-error) !important;
}
.srgdev-ncfp-form-btn{
  display: block;
  margin: 1.5em 0 0;
}
.srgdev-ncfp-form-btn[shade]{
  opacity: .5;
}
#srgdev-ncfp_sel-dummy{
  cursor: pointer;
  background: var(--icon-triangle-s-000) no-repeat right 4px center;
  background-color: $color-main-background;
  background-color: var(--color-main-background);
}
// Because it is a read-only input, the setCustomValidity() does not work
#srgdev-ncfp_sel-dummy[err]{
  box-shadow: none !important;
  border-color: var(--color-error) !important;
}
#srgdev-ncfp_sel_cont{
  position: relative;
}

#srgdev-dpu_main-cont{
  left: -2.5em;
  right: -2.5em;
  top: -6.4em;
  position: absolute;
  //padding-right: ;
  box-shadow: 1px 1px 3px $color-box-shadow;
  box-shadow: 1px 1px 3px var(--color-box-shadow);
  overflow: hidden;
  display: none;
}

.srgdev-dpu-bkr-cls{
  background: $color-main-background;
  background-color: var(--color-main-background);
}

#srgdev-dpu_main-cont[data-open]{
  display: block;
}

#srgdev-dpu_main-header{
  display: block;
  padding: .5em .5em .5em .75em;
  font-size: 125%;
  position: relative;
  font-weight: bold;
  border-bottom: 1px solid $color-border;
  border-bottom: 1px solid var(--color-border);
}
#srgdev-dpu_main-hdr-icon{
  display: block;
  position: absolute;
  right: .5em;
  top: 50%;
  width: 1.6em;
  height: 1.6em;
  margin-top: -.8em;
  border-radius: .8em;
  cursor: pointer;
}
#srgdev-dpu_main-hdr-icon:hover{
  background-color: $color-primary;
  background-color: var(--color-primary);
  background-image: var(--icon-close-fff);
}


#srgdev-dpu_bf-cont{
  text-align: left;
  padding: .2em .6em .5em;
  font-size: 95%;
  //color: $color-text-light;
  //color: var(--color-text-light);
}
#srgdev-dpu_bf-next,
#srgdev-dpu_bf-back{
  display: inline-block;
  padding: .3em;
  cursor: pointer;
  vertical-align: middle;
  user-select:none;
}
#srgdev-dpu_bf-next:hover,
#srgdev-dpu_bf-back:hover{
  color: $color-primary;
  color: var(--color-primary);
}
#srgdev-dpu_bf-next[disabled],
#srgdev-dpu_bf-back[disabled] {
  color: $color-text-lighter;
  color: var(--color-text-lighter);
  opacity: .5;
}

#srgdev-dpu_bf-next{
  float: right;
}
#srgdev-dpu_bf-back{
  text-align: left;
}
#srgdev-dpu_bf-next:after{
  content: "\203A";
  padding-left: .4em;
  font-size: 125%;
}
#srgdev-dpu_bf-back:before{
  padding-right: .4em;
  content: "\2039";
  font-size: 125%;
}
#srgdev-dpu_main-date{
  position: relative;
  text-align: center;
  white-space: nowrap;
  transition: left $animation-slow;
}

.srgdev-dpu-date-cont{
  display: inline-block;
  width: 4.4em;
  padding: .25em 0 0;
  margin: 0 .1em;
  vertical-align: top;
}
.srgdev-dpu-dc-empty{
  color: $color-text-lighter;
  color: var(--color-text-lighter);
  opacity: .8;
}
.srgdev-dpu-date-cont:hover{
  color: $color-primary;
  color: var(--color-primary);
}
.srgdev-dpu-date-cont[data-active]{
  background: $color-primary;
  background: var(--color-primary);
  color: $color-primary-text;
  color: var(--color-primary-text);
}
.srgdev-dpu-dc-empty[data-active]{
  opacity: .6;
}


.srgdev-dpu-date-wd,
.srgdev-dpu-date-dn,
.srgdev-dpu-date-md{
  display: block;
  line-height: 1;
  cursor: pointer;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.srgdev-dpu-date-wd{
  opacity: .95;
  z-index: 1;
  font-size: 95%;
}
.srgdev-dpu-date-dn{
  padding: .1em 0;
  z-index: 2;
  font-size: 110%;
  font-weight: bold;
}
.srgdev-dpu-date-md{
  z-index: 3;
  font-size: 77%;
  text-overflow: ellipsis;
  padding-bottom: .6em;
}

#srgdev-dpu_main-time{
  position: relative;
  height: 19em;
  border-top: 1px solid $color-border;
  border-top: 1px solid var(--color-border);
}

.srgdev-dpu-time-cont{
  //display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  background-color: $color-main-background;
  background-color: var(--color-main-background);
  //transition: transform .5s;
}

// empty time cont
#srgdev-dpu_tce{
  font-size: 150%;
  word-spacing: 100em;
  text-align: center;
  padding-top: 2.5em;
  line-height: 1.6;
  color: $color-text-lighter;
  color: var(--color-text-lighter);
}

.srgdev-dpu-time-cont[data-active]{
  //transform: translateX(100%);
  z-index: 510;
  height: 100%;
}
.srgdev-dpu-tc-full-date{
  text-align: center;
  margin: .75em;
  font-size: 120%;
  font-weight: bold;
  color: $color-main-text;
  color: var(--color-main-text);

}
.srgdev-dpu-tc-tu-wrap{
  overflow-y: scroll;
  top: 3.2em;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

.srgdev-dpu-time-unit2,
.srgdev-dpu-time-unit{
  text-align: center;
  cursor: pointer;
  border: 1px solid $color-border;
  border: 1px solid var(--color-border);
  padding: .2em 0;
}

.srgdev-dpu-time-unit{
  display: block;
  width: 50%;
  margin: .25em auto;
}


.srgdev-dpu-time-unit2{
  display: inline-block;
  width: 41%;
  margin: .25em 3%;
}


.srgdev-dpu-time-unit:hover,
.srgdev-dpu-time-unit2:hover{
  color: $color-primary;
  color: var(--color-primary);
  border-color: $color-border-dark;
  border-color: var(--color-border-dark);
  font-weight: bold;
}


// ---- THANK YOU NOTE ------

.srgdev-appt-info-cont{
  margin-top: 3em;
  max-width: 40em;
}
.srgdev-appt-info-cont>h1{
  font-size: 125%;
  font-weight: bold;
}
.srgdev-appt-info-cont>*{
  margin: 1em 0;
}
.srgdev-appt-err-a{
  color: $color-primary;
  color: var(--color-primary);
  text-decoration: underline;
}