@include icon-black-white('appt-public-page', 'appointments', 1);
@include icon-black-white('appt-public-pages', 'appointments', 1);
@include icon-black-white('appt-go-back', 'appointments', 1);
@include icon-black-white('appt-calendar-clock', 'appointments', 1);
@include icon-black-white('appt-timeslot-settings', 'appointments', 1);
@include icon-black-white('appt-calendar', 'appointments', 1);
@include icon-black-white('appt-key', 'appointments', 1);
@include icon-black-white('sched-mode', 'appointments', 1);
@include icon-black-white('appt-reminder', 'appointments', 1);
