@import "_svariables.scss";

body {
  background-color: $color-main-background;
  background-color: var(--color-main-background);
  --border-radius-large: 4px;
  background-image: none;
}

#header {
  background-image: var(--image-main-background);
}

#body-public.layout-base #content {
  min-height: 100%;
  padding-top: 50px;
  margin-top: 0;
}

#content {
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.srgdev-ncfp-wrap {
  text-align: center;
  width: 100%;
}

.srgdev-appt-info-cont,
.srgdev-ncfp-form {
  display: inline-block;
  margin: 2em 1em 1em;
  padding: 1.5em;
  border: 1px solid $color-border;
  border: 1px solid var(--color-border);
  text-align: left;
  vertical-align: top;
}

.srgdev-ncfp-form-org {
  margin: 0;
  line-height: 1.2;
  font-size: 150%;
}

.srgdev-ncfp-form-addr {
  color: $color-text-lighter;
  color: var(--color-text-lighter);

  margin-bottom: .75em;
  line-height: 1.25;
}

.srgdev-ncfp-form-header {
  font-weight: bold;
  padding: 0 0 .35em;
  border-bottom: 1px solid $color-border;
  border-bottom: 1px solid var(--color-border-dark);
  margin-top: 0;
  font-size: 115%;
}

.srgdev-ncfp-form-main-cont {
  min-width: 18em;
  max-width: 22em;
  margin: 0 auto;
}

.h-captcha {
  min-width: 303px;
  min-height: 78px;
  margin-top: 1em;
  margin-bottom: -.5em;
}

.srgdev-ncfp-chb-cont,
.srgdev-ncfp-form-label {
  display: block;
  margin: 1em 0 0;
  line-height: 1.6;
}

#srgdev-ncfp-main-inputs .srgdev-ncfp-form-input,
#srgdev-ncfp-main-inputs .srgdev-ncfp-form-textarea {
  display: block;
  width: 100%;
  margin: 0 !important;
  font-size: 94% !important;
  padding: .5em .4em !important;
  min-height: 2.55em;
  border-width: 1px;
}

.srgdev-ncfp-form-textarea {
  min-height: 7em;
  max-height: 16em;
}

$color-placeholder: $color-text-maxcontrast;
$color-placeholder-var: var(--color-text-maxcontrast);
.srgdev-ncfp-form-input::-webkit-input-placeholder,
.srgdev-ncfp-form-textarea::-webkit-input-placeholder {
  color: $color-placeholder;
  color: $color-placeholder-var;
}

.srgdev-ncfp-form-input:-moz-placeholder,
.srgdev-ncfp-form-textarea:-moz-placeholder {
  color: $color-placeholder;
  color: $color-placeholder-var;
  opacity: 1;
}

.srgdev-ncfp-form-input::-moz-placeholder,
.srgdev-ncfp-form-textarea::-moz-placeholder {
  color: $color-placeholder;
  color: $color-placeholder-var;
  opacity: 1;
}

.srgdev-ncfp-form-input:-ms-input-placeholder,
.srgdev-ncfp-form-textarea:-ms-input-placeholder {
  color: $color-placeholder;
  color: $color-placeholder-var;
}

.srgdev-ncfp-form-input::-ms-input-placeholder,
.srgdev-ncfp-form-textarea::-ms-input-placeholder {
  color: $color-placeholder;
  color: $color-placeholder-var;
}

.srgdev-ncfp-form-input::placeholder,
.srgdev-ncfp-form-textarea::placeholder {
  color: $color-placeholder;
  color: $color-placeholder-var;
}

.srgdev-ncfp-form-select:invalid {
  border-color: $color-border-dark;
  border-color: var(--color-border-dark);
  color: $color-placeholder !important;
  color: $color-placeholder-var;
}

.srgdev-ncfp-form-textarea[data-more]:invalid:hover,
.srgdev-ncfp-form-select:invalid:hover {
  border-color: $color-primary-element !important;
  border-color: var(--color-primary-element) !important;
}

.srgdev-ncfp-form-option {
  color: $color-main-text;
  color: var(--color-main-text);
}

.srgdev-ncfp-chb-cont {
  position: relative;
}

// Override NC styles so the browsers built-in error message can displayed
#appt_gdpr_id {
  display: block;
  left: .5em;
  top: 50%;
  margin: -.5em 0 0 0;
  padding: 0;
  height: 1em;
  min-height: 1em;
  border: none;
  z-index: -1;
  opacity: 0;
  width: 1em;
}

.srgdev-ncfp-chb-cont a {
  color: $color-primary;
  color: var(--color-primary);
}

.srgdev-ncfp-chb-cont a:hover {
  text-decoration: underline;
}

.checkbox[err] + label:before {
  border-color: $color-error !important;
  border-color: var(--color-error) !important;
}

.srgdev-ncfp-form-btn {
  display: block;
  margin: 1.5em 0 0;
  font-size: 94% !important;
  padding: .5em 1em !important;
  min-height: 2.55em;
}

#srgdev-ncfp_fbtn {
  margin-top: 2em;
}

.srgdev-ncfp-form-btn[shade] {
  opacity: .5;
}

.srgdev-ncfp-form-btn span {
  display: inline-block;
  vertical-align: top;
  height: 1.5em;
  line-height: 1.5em;
  cursor: inherit;
}

#srgdev-ncfp_fbtn-spinner {
  display: none;
  margin-top: 0;
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
}

#srgdev-ncfp_fbtn-spinner:after {
  content: " ";
  display: block;
  width: 1em;
  height: 1em;
  //margin: 8px;
  border-radius: 50%;
  border: .25em solid $color-primary-text;
  border-color: $color-primary-text transparent $color-primary-text transparent;
  border: .25em solid var(--color-primary-text);
  border-color: var(--color-primary-text) transparent var(--color-primary-text) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.srgdev-ncfp-form-select,
#srgdev-ncfp_sel-dummy {
  cursor: pointer;
  background: var(--icon-triangle-s-dark, var(--icon-triangle-s-000)) no-repeat right 4px center;
  background-color: $color-main-background;
  background-color: var(--color-main-background);
}

.srgdev-ncfp-form-textarea:invalid,
input.srgdev-ncfp-form-input:invalid,
.srgdev-ncfp-form-select[err],
#srgdev-ncfp_sel-dummy[err],
#srgdev-ncfp_talk_type[err] // because 'invalid' is overridden
{
  box-shadow: none !important;
  border-color: var(--color-error) !important;
}

#srgdev-ncfp_sel_cont {
  position: relative;
}

#srgdev-dpu_main-cont {
  left: -2.5em;
  right: -2.5em;
  top: -6.4em;
  position: absolute;
  //padding-right: ;
  box-shadow: 0 0 6px -2px $color-box-shadow;
  box-shadow: 0 0 6px -2px var(--color-box-shadow);
  border: thin solid $color-border;
  border: thin solid var(--color-border);
  overflow: hidden;

  display: block;
  //height: 0;
  visibility: hidden;
  z-index: 1574;
}

.srgdev-dpu-bkr-cls {
  background: $color-main-background;
  background-color: var(--color-main-background);
}

#srgdev-dpu_main-cont[data-open] {
  //display: block;
  //height: auto;
  visibility: visible;
}

#srgdev-dpu_main-header {
  display: block;
  padding: .5em .5em .5em .75em;
  font-size: 125%;
  position: relative;
  font-weight: bold;
  border-bottom: 1px solid $color-border;
  border-bottom: 1px solid var(--color-border);
}

#srgdev-dpu_main-hdr-icon {
  display: block;
  position: absolute;
  right: .5em;
  top: .6em;
  width: 1.6em;
  height: 1.6em;
  margin-top: 0;
  border-radius: .8em;
  cursor: pointer;
}

#srgdev-dpu_main-hdr-icon:hover,
#srgdev-dpu_main-hdr-icon:focus-visible {
  background-color: $color-primary;
  background-color: var(--color-primary);
  background-image: var(--icon-close-white, var(--icon-close-fff));
}


#srgdev-dpu_bf-cont {
  text-align: left;
  padding: .2em .6em .5em;
  font-size: 95%;
  //color: $color-text-light;
  //color: var(--color-text-light);
}

#srgdev-dpu_bf-next,
#srgdev-dpu_bf-back {
  display: inline-block;
  padding: .3em;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
}

#srgdev-dpu_bf-next:hover,
#srgdev-dpu_bf-back:hover {
  color: $color-primary;
  color: var(--color-primary);
}

#srgdev-dpu_bf-next[disabled],
#srgdev-dpu_bf-back[disabled] {
  color: $color-text-lighter;
  color: var(--color-text-lighter);
  opacity: .5;
}

#srgdev-dpu_bf-next {
  float: right;
}

#srgdev-dpu_bf-back {
  text-align: left;
}

#srgdev-dpu_bf-next:after {
  content: "\203A";
  padding-left: .4em;
  font-size: 125%;
}

#srgdev-dpu_bf-back:before {
  padding-right: .4em;
  content: "\2039";
  font-size: 125%;
}

#srgdev-dpu_main-date {
  position: relative;
  text-align: center;
  white-space: nowrap;
  transition: left $animation-slow;
}

.srgdev-dpu-date-cont {
  display: inline-block;
  width: 4.4em;
  padding: .25em 0 0;
  margin: 0 .1em;
  vertical-align: top;
}

.srgdev-dpu-dc-empty {
  color: $color-text-lighter;
  color: var(--color-text-lighter);
  opacity: .8;
}

.srgdev-dpu-date-cont:hover {
  color: $color-primary;
  color: var(--color-primary);
}

.srgdev-dpu-date-cont[data-active] {
  background: $color-primary;
  background: var(--color-primary);
  color: $color-primary-text;
  color: var(--color-primary-text);
}

.srgdev-dpu-dc-empty[data-active] {
  opacity: .6;
}


.srgdev-dpu-date-wd,
.srgdev-dpu-date-dn,
.srgdev-dpu-date-md {
  display: block;
  line-height: 1;
  cursor: pointer;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.srgdev-dpu-date-wd {
  opacity: .95;
  z-index: 1;
  font-size: 95%;
}

.srgdev-dpu-date-wd-sunday {
  color: #E23C2F;
}

.srgdev-dpu-date-cont[data-active] .srgdev-dpu-date-wd-sunday {
  color: inherit;
}

.srgdev-dpu-date-dn {
  padding: .1em 0;
  z-index: 2;
  font-size: 110%;
  font-weight: bold;
}

.srgdev-dpu-date-md {
  z-index: 3;
  font-size: 77%;
  text-overflow: ellipsis;
  padding-bottom: .6em;
}

#srgdev-dpu_main-time {
  border-top: 1px solid $color-border;
  border-top: 1px solid var(--color-border);
  height: 20em;
  display: flex;
  flex-direction: column;
}

// empty time cont
#srgdev-dpu_tce {
  font-size: 150%;
  word-spacing: 100em;
  text-align: center;
  padding-top: 2.5em;
  line-height: 1.6;
  height: 12.75em;
  color: $color-text-lighter;
  color: var(--color-text-lighter);
}

.srgdev-dpu-tc-full-date {
  text-align: center;
  padding: .75em;
  box-sizing: border-box;
  font-size: 120%;
  font-weight: bold;
  color: $color-main-text;
  color: var(--color-main-text);
  flex: 0;
}

.srgdev-dpu-tc-tu-wrap {
  overflow-y: scroll;
  width: 100%;
  //height: 14.5em;
  text-align: center;
  flex: 1;
}

.srgdev-dpu-time-unit_tn,
.srgdev-dpu-time-unit2,
.srgdev-dpu-time-unit {
  text-align: center;
  cursor: pointer;
  border: 1px solid $color-border;
  border: 1px solid var(--color-border);
  padding: .2em 0;
}

$tz-cont-height: 2.5em;
.srgdev-dpu-tz-picker-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-top: 1px solid $color-border;
  border-top: 1px solid var(--color-border);
  margin-top: .25em;
  cursor: pointer;
  text-align: center;
}

#srgdev-dpu_tz-picker {
  position: absolute;
  width: 100%;
  height: $tz-cont-height;
  border: none;
  padding: 0;
  outline: none;
  display: block;
  margin: 0;
  top: 0;
  left: 0;
  opacity: 0;
}

#srgdev-dpu_tz-picker option {
  opacity: 1;
}

.srgdev-dpu-tz-name {
  pointer-events: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 0;
  height: $tz-cont-height;
  line-height: $tz-cont-height;
  min-height: $tz-cont-height;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 2em 0 .375em;
  position: relative;
  color: ($color-text-lighter);
  color: var(--color-text-lighter);
  vertical-align: middle;
}

.srgdev-dpu-tz-picker-wrapper:hover .srgdev-dpu-tz-name {
  color: ($color-main-text);
  color: var(--color-main-text);
}

.srgdev-dpu-tz-name:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  right: 0;
  top: 50%;
  margin-top: -.125em;
  border-left: .375em solid transparent;
  border-right: .375em solid transparent;
  border-top: .375em solid var(--color-text-lighter);
}

#srgdev-dpu_tz-picker:focus-visible + .srgdev-dpu-tz-name {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-primary);
  color: $color-main-text;
  color: var(--color-main-text);
}

.srgdev-dpu-appt-title {
  cursor: inherit;
  font-weight: normal;
  color: $color-main-text;
  color: var(--color-main-text);
}

.srgdev-dpu-time-unit,
.srgdev-dpu-time-unit_tn {
  display: inline-block;
  min-width: 51%;
  max-width: 92%;
  margin: .25em auto;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.srgdev-dpu-time-unit .srgdev-dpu-appt-title:before {
  content: " ";
}

.srgdev-dpu-time-unit2 {
  display: inline-block;
  width: 41%;
  margin: .25em 3%;
  vertical-align: middle;
  padding: .4em 0;
}

.srgdev-dpu-time-unit2,
.srgdev-dpu-time-unit_tn {
  line-height: 1.2;
  padding-top: .4em;
  padding-bottom: .4em;
}

.srgdev-dpu-time-unit2 .srgdev-dpu-appt-title,
.srgdev-dpu-time-unit_tn .srgdev-dpu-appt-title {
  display: block;
  font-size: 90%;
  padding: 0 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.srgdev-dpu-time-unit_tn .srgdev-dpu-appt-title {
  padding: 0;
}

.srgdev-dpu-time-unit:hover,
.srgdev-dpu-time-unit2:hover,
.srgdev-dpu-time-unit_tn:hover,
.srgdev-dpu-time-unit:focus-visible,
.srgdev-dpu-time-unit2:focus-visible,
.srgdev-dpu-time-unit_tn:focus-visible {
  color: $color-primary;
  color: var(--color-primary);
  border-color: $color-border-dark;
  border-color: var(--color-border-dark);
  font-weight: bold;
}


// ---- THANK YOU NOTE ------

.srgdev-appt-info-cont {
  margin-top: 3em;
  max-width: 40em;
}

.srgdev-appt-info-cont > h1 {
  font-size: 125%;
  font-weight: bold;
}

.srgdev-appt-info-cont > * {
  margin: 1em 0;
}

.srgdev-appt-err-a {
  color: $color-primary;
  color: var(--color-primary);
  text-decoration: underline;
}

.appt-dir-lnk {
  display: block;
  margin: 1.25em auto;
  padding: 1em;
  width: 22em;
  border: 1px solid $color-border;
  border: 1px solid var(--color-border);
}

.appt-dir-lnk:hover {
  border: 1px solid $color-border-dark;
  border: 1px solid var(--color-border-dark);
  box-shadow: 1px 1px 3px $color-border-dark;
  box-shadow: 1px 1px 3px var(--color-border-dark);
}

.appt-dir-lnk_h1 {
  font-weight: bold;
  font-size: 125%;
  margin: 0;
  line-height: 1.2;
  color: $color-main-text;
  color: var(--color-main-text);
}

.appt-dir-lnk_h2 {
  font-weight: normal;
  font-size: 110%;
  margin: .2em 0;
  line-height: 1.4;
  color: $color-main-text;
  color: var(--color-main-text);
}

.appt-dir-lnk_p {
  position: relative;
  margin: .5em 0 0;
  padding-top: .5em;
  color: $color-text-light;
  color: var(--color-text-light);
}

.appt-dir-lnk_p:before {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 0;
  left: 20%;
  top: 0;
  border-bottom: 1px solid $color-border;
  border-bottom: 1px solid var(--color-border);
}

@media screen and (max-width: 479px) {
  .srgdev-ncfp-wrap {
    font-size: 110%;
  }
  .srgdev-ncfp-form {
    border: none;
    max-width: 24em;
  }
  .srgdev-appt-info-cont {
    border: none;
  }
}

@import "_form-xl-screen.scss";